<!-- Nav -->
<nav id="nav">
<!--

	Prologue's nav expects links in one of two formats:

	1. Hash link (scrolls to a different section within the page)

	   <li><a href="#foobar" id="foobar-link" class="icon fa-whatever-icon-you-want skel-layers-ignoreHref"><span class="label">Foobar</span></a></li>

	2. Standard link (sends the user to another page/site)

	   <li><a href="http://foobar.tld" id="foobar-link" class="icon fa-whatever-icon-you-want"><span class="label">Foobar</span></a></li>

	-->
	<ul>
	    <%= nav_link t('menu.home'), root_path(:anchor => 'top') ,'icon fa-home','top-link' %>
	    <%= nav_link t('menu.workflow'), root_path(:anchor => 'workflow') ,'icon fa-bullseye','workflow-link'  %>
	    <%= nav_link t('menu.projects'),projects_path ,'icon fa-th','projects-link','projects'  %>
	    <%= nav_link t('menu.colleague'),colleagues_path ,'icon fa-users','colleagues-link','colleagues' %>
	    <%= nav_link t('menu.customers'), clients_path,'icon fa-user-secret','customers-link','clients' %>
	

	</ul>
</nav>