<% if user_signed_in? && !current_user.blank? %>


<span class="image avatar48">
    <%= link_to edit_user_registration_path, :class=>"avatar48" do%>
	<div class="user profile" style="background-image:url('<%= current_user.image.url if current_user.image.present?%>')"></div>
	<%end%>
</span>


<h1 id="title"><%=  current_user.name %></h1>
<p><%=  current_user.title %></p>
<% else %>
<%= link_to  new_user_session_path ,data: { modal: true} do%>
	<span class=""><i class="fa fa-user fa-3x"></i></span>
	<h1 id="title"><%=t(:signin)%></h1>
<%end%>
<% end %>