<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @project.detail %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @project.end_date %>
</p>

<p>
  <strong>Active:</strong>
  <%= @project.active %>
</p>

<p>
  <strong>Seq:</strong>
  <%= @project.seq %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.projectmanager.name %>
</p>

<p>
  <strong>Client:</strong>
  <%= @project.client.name %>
</p>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
