<% content_for :title do %>

<span class="image avatar48">
	<div class="user profile" style="background-image:url('<%= @log.logperson.image.url if @log.logperson.image.present?%>')"></div>
</span>
<%=  @log.logperson.name if @log.logperson.present?  %><br/>
<%= @log.logdate.strftime(t('time.formats.default')) %>
<% end%>

<p>
  <%= @log.data.html_safe %>
</p>
<div>
<% @log.pictures.each do |p|%>
  <div class="image fit">
	<%= image_tag p.url%>
  </div>
<%end%>
</div>


