<% content_for :title do %>
<span class="image avatar48"><%=  cl_image_tag(@log.logperson.image, :gravity=>"north", :width=>115, :height=>115, :crop=>"thumb") %></span>
<%=  @log.logperson.name if @log.logperson.present?  %><br/>
<%= @log.logdate.strftime(t('time.formats.default')) %>
<% end%>

<p>
  <%= @log.data.html_safe %>
</p>
<div>
<% @log.pictures.each do |p|%>
  <div class="image fit">
	<%= image_tag p.url%>
  </div>
<%end%>
</div>


