<!DOCTYPE html>
<html>
  <head>
    <title>Projectlog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= csrf_meta_tags %>
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :template=> 'share/header'%>
    <!-- Main -->
    <div id="main">
    <div class="messagebox">
    <!-- <p id="notice" class="notice"><%= notice %></p> -->
    <p class="alert"><%= alert %></p>
    </div> 
    <%= yield %>
    </div>
    <%= render :template=> 'share/footer'%>
  </body>
</html>
