<div class="container">
<h2>Edit <%= resource_name.to_s.humanize %></h2>
 <%= devise_error_messages! %>
<%= semantic_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
 
<div class="form-inputs">
  <%= f.input :name %>
  <%= f.input :title %>
  <%= f.input :telephone, as: :phone %>
  <%= f.input :image ,:label =>"Photo",:as =>"file",:image_preview => true%>
  <%= f.inputs "Sign-in detail" do%>
  <%= f.input :email, as: :email, autofocus: true %>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <%= f.input :password,as: :password, required: true, input_html:{ placeholder: "(leave blank if you don't want to change it)"}, hint: ("#{@minimum_password_length} characters minimum " if @minimum_password_length) %>
  <%= f.input :password_confirmation,as: :password, autocomplete: "off" %> 
 <%end%>
  
  <hr/>
  <br/>
   <%= f.input :current_password,as: :password, required: true, input_html:{ placeholder: "(we need your current password to confirm your changes)"} %>

</div>
<div class="form-actions">
    <%= f.submit :label => "Update" %>
</div>

<% end %>


  <br/>
  <hr/>
<!-- <h3>Cancel my account</h3>
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

<%= link_to "Back", :back %>
</div>
